@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    transition: opacity 0.5s ease, visibility 0.5s ease;
    height: auto;
    opacity: 1;
}
.fixed {
    position: fixed;
    z-index: 99;
    width: 100%;
}
.bg-rgba-w {
    background-color: rgba(255, 255, 255, 0.85);
}
.top-image {
    width: 100%;
    aspect-ratio: 5 / 2;
    object-fit: cover;
}
@media screen and (max-width: 639px) {
    .top-image {
        width: 100%;
        aspect-ratio: 5 / 3;
        object-fit: cover;
    }
}
#thumbnail {
    height: 200px;
    max-width: 200px;
    margin: 10px;
    border: solid thin lightgray;
    border-radius: 5px;
}

/* フラッシュ ================================ */
.flash-success {
    padding: 10px 0;
    color: white;
    background: rgb(44, 221, 25);
    text-align: center;
    position: absolute;
    top: 64px;
    z-index: 1;
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
}

.flash-error {
    padding: 10px 0;
    color: white;
    background: rgb(226, 113, 113);
    text-align: center;
    position: absolute;
    top: 64px;
    z-index: 1;
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
}
