<% if model.errors.full_messages_for(field_name.to_sym).any? %>
  <div class="alert alert-warning">
    <ul>
      <% model.errors.full_messages_for(field_name.to_sym).each do |message| %>
        <li><span class="text-sm text-red-600"><%= message %></span></li>
      <% end %>
    </ul>
  </div>
<% end %>