<% if model.errors.full_messages.any? %>
  <div class="w-full mt-4 bg-red-200 rounded-md border-red-700 border-solid border-2">
    <div class="px-4 py-4">
        <span class="text-red-700">There is an error in the input information</span>
    </div>
  </div>
<% end %>